h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
textarea,
button,
li,
a,
b, div {
    font-family: 'Roboto', sans-serif !important;
}

ul {
    padding: 0;
}

.path {
    color: #C2B9A2;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    background: transparent;
    margin: 0 0 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-position: 50%;
    background-size: cover;
    background-image: url('../img/полоса.jpg')
}

.path-text a {
    color: #818995;
    text-decoration: none;
    transition: all 0.2s;
}

.path-text a:hover {
    color: #C2B9A2;
    text-decoration: none;
    transition: all 0.2s;
}