
<header class="header">
        <div class="header__topbar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 topbar-left hidden-sm hidden-xs">
                        <div class="address">
                            <i class="fa-solid fa-location-dot"></i>
                            <a href="#">Ежедневные отправки в любую точку мира</a>
                        </div>
                        <div class="email">
                            <i class="fa-solid fa-envelope"></i>
                            <a href="#">info@gmail.com</a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8 col-8 topbar-right">
                        <ul class="menu">
                            <li class="contacts">
                                <a href="#">Контакты</a>
                            </li>
                            <li class="order">
                                <a href="#">Отследить заказ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__main">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 header-left">
                        <div class="main-logo">
                            <a href="/">
                                <img loading="lazy" src="img/logo-1-scaled.jpg"
                                    alt="Заяц Меховой – одежда и текстиль для новорожденных детей">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12 header-center">
                        <p class="title">Бесплатная доставка в пункты OZON при заказе от 6000 руб.</p>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12 header-right">
                        <div class="header__links">
                            <div class="header__login">
                                <a href="#" class="login">Войти / Регистрация</a>
                            </div>
                        </div>
                        <div class="wishlist-box">
                            <a href="" class="wish-icon">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </div>
                        <div class="wishlist-box">
                            <a href="" class="wish-icon">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar">
            <ul class="navbar__menu">
                <li><a href="shop.html">Lorem, ipsum.</a></li>
                <li><a href="shop.html">Lorem, ipsum.</a></li>
                <li><a href="shop.html">Lorem, ipsum.</a></li>
                <li><a href="shop.html">Lorem, ipsum.</a></li>
                <li><a href="shop.html">Lorem, ipsum.</a></li>
                <li><a href="shop.html">Lorem, ipsum.</a></li>
                <li><a href="shop.html">Lorem, ipsum.</a></li>
                <li><a href="shop.html">Lorem, ipsum.</a></li>
                <li><a href="shop.html">Lorem, ipsum.</a></li>
                <li><a href="shop.html">Lorem, ipsum.</a></li>
            </ul>
        </nav>
    </header>